.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.none {
  position: absolute;
  width: 350px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  /* //display: inline-block;
 
  padding: 0;
  background-color: #E0E0E0;
  //width:100%; */
  margin-left: -120px;
}

.task-header {
  display: inline-block;
  background-color: #56A286;
  width:100%;
  color: white;
}

.droppable {
  position: absolute;
  width: 350px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #EEEEEE;
  border-left: 1px dotted;
}
.progress{
  position: absolute;
  width: 350px;
  height: 100vh;
  right: 400px;
  top: 10;
  background-color: #EEEEEE;
  border-left: 1px dotted;
}
.todo{
  position: absolute;
  width: 350px;
  height: 100vh;
  left: 400px;
  top: 10;
  background-color: #EEEEEE;
  border-left: 1px dotted;
}

.draggable {
  width: 90%;
  height: 50px;
  background-color: #56A286;
  margin: 5px auto;
  line-height: 5em;
  color: white;
    font-size: 20px;
    font-family: fangsong;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center
}
